* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body {
  background-color: #1d3557;
  color: white;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  display: flex;
  justify-content: space-between
  align-items: center;
}

/* HERO */
.hero {
  background-color: #1d3557, #457b9d;
  padding: 32px 16px;
  text-align: center;
}

.hero h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 15px;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* BOTÕES */
button {
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary {
  background-color:  #ff7a00;
  color: white;
}

.btn-outline {
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-small {
  background-color:  #ff7a00;
  color: white;
  padding: 6px 10px;
}

/* BENEFITS */
.benefits {
  background-color: #ffffff;
  color: black;
  padding: 32px 16px;
  text-align: center;
}

.card {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 10px;
  margin-top: 10px;
}

/* TESTIMONIAL */
.testimonial {
  padding: 20px;
  text-align: center;
}

.testimonial img {
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #ffffff;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--azul);
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}